node_modules
frontend/node_modules
npm-debug.log
.env
.env.local
.env.*.local
.git
.gitignore
README.md
.vscode
.idea
.DS_Store
*.log
logs
*.swp
*.swo
coverage
.nyc_output
.grunt
.lock-wscript
build/Release
jspm_packages
typings
.npm
.eslintcache
.node_repl_history
.yarn-integrity
.cache
dist
.parcel-cache
.next
.nuxt
.vuepress/dist
.serverless
.fusebox
.dynamodb
.tern-port
.vscode-test
.env.test
docker-compose.override.yml
Dockerfile
.dockerignore